body{
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 350px;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}
label,input
{
    margin-bottom: 10px;
    display: block;
    width: 94%;
    font-weight: 500;
}
form{
    width: 80%;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#calculate{
    padding: 16px;
    color: white;
    background-color: darkblue;
    width: 100%;
    margin-top: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 16px;
}