body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0C1736;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 4rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#location{
    font-size: 2rem;
    font-weight: bold;
}
#search-input{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 15px;
}
input:focus {
    outline: none;
}
#search-button{
    padding: 1rem;
    background-color: white;
    color: #0C1736;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
     right: 4rem;
     width: 150px;
}
#search-button:hover{
    background-color: whitesmoke;
}
.temprature{
    font-size: 8rem;
}
.weather-info{
    display: flex;
    gap: 2rem;
    align-items: baseline;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.temprature-response{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}
.weather-icon{
    width: 250px;
    height: 250px;
}
.weather-icon-days{
    width: 75px;
    height: 75px;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
}
.days, .days-weather{
    color: rgb(185, 185, 185);
}
.tomorrow-temprature{
    display: flex;
    flex-direction: column;
    align-items: center;
}