body
{
    margin: 0;
    padding: 0;
    border-box: border-box;
}
.parent-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.subText{
    color: #666666;
    font-size: 18px;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 30%;
}
.card{
    background-color: #E0E0E0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: calc(33.33% - 10px);
    font-size: 27px;
    font-weight: bold;
}
.card:hover
{
    background-color: #BDBDBD;
    transition: all 0.3s ease;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: start;
    margin-top: 16px;
   
}
#cell-number{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-bottom: 24px;
    margin-top: 10px;
}
#color-button{
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}