body{
    background-color: #fafafa;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    box-shadow: 5px 5px 10px #ebebeb;
    border-radius: 5px;
    width: 32%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #d9d9d9;
    height: 350px;
}
.input-container
{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1px;
}
.label{
    margin-bottom:8px ;
}
#number-input{
    width: 90%;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding-left:8px ;
}
#submit
{
    margin-top: 12px;
    padding: 10px;
    color: white;
    background-color: #0C5ED7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#reset
{
    margin-top: 12px;
    padding: 10px;
    color: #b9c3c1;
    background-color: #ecf0f5;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.result{
    background-color: #f3f3f3;
    color: #222;
    border-radius:5px;
    padding: 10px;
    margin-top: 16px;
    height: 70px;
}
.temp-result{
    font-size: 18px;
    font-weight: 600;
}